<!DOCTYPE html>
<html>
<head>
	<title>Nutrition App</title>

	<!-- <router-view></router-view> -->

	<!-- Main CSS File -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Google Font Stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Material Design Lite -->
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>

<body>

<!-- HEADER -->
		<!-- Always shows a header, even in smaller screens. -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header navbar">
		    <div class="mdl-layout__header-row">
		      <!-- Title -->
		      <!-- TODO [] just playing w/ titles here -->
		      <span class="mdl-layout-title">FeedYourself</span>
		      <!-- Add spacer, to align navigation to the right -->
		      <div class="mdl-layout-spacer"></div>
		      <!-- Navigation. We hide it in small screens. -->
		      <nav class="mdl-navigation">
		        <a class="mdl-navigation__link navbar-link" target="_appGitHub"
		        href="https://github.com/lnhubbell/vigilant-guide">Github</a>
		        <a class="mdl-navigation__link navbar-link"
		        href="about">About</a>
		      </nav>
		    </div>
		  </header>

		  <!-- What is this here? / Why isn't there any closing tags?
		  (It seems to work, I just don't understand - also no closing div on the above?) -->
		  <main class="mdl-layout__content">
		    <div class="page-content">
<!-- END HEADER -->



<!-- MAIN CONTENT -->
<div class="mdl-grid" id="nutritionApp">
	<!-- SEARCH AREA (1st fold) -->
	<div class="mdl-cell mdl-cell--12-col mdl-grid">
		<!-- searchBox -->
		<div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid searchBox">
			<div class="mdl-cell mdl-cell--12-col">
				<div class="searchBox-titlemd">What are we having?</div>
				<form class="mdl-grid" v-on:submit.prevent="fetchFoodData(newfoodinput)">
					<input class="mdl-cell mdl-cell--8-col"
					v-model="newfoodinput" placeholder=" Add Food">
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col"
					type="submit">
		  			<i class="material-icons">search</i>
					</button>
				</form>
			</div>
			<div class="mdl-cell mdl-cell--12-col" v-for="food in foods">
				<span class="searchBox-results" v-on:click="selectFood(food)">{{food.name}}</span>
			</div>

			<modal name="hello-world">
				<!-- User specifics -->
				<div class="mdl-cell mdl-cell--12-col mdl-grid appForm">
					<div class="mdl-cell mdl-cell--12-col searchBox-titlemd">Food Details: {{newFood.name}}</div>
					<div class="mdl-cell mdl-cell--4-col mdl-grid">
						<div class="mdl-cell mdl-cell--4-col appForm-titlesm">Meal:</div>
						<select class="mdl-cell mdl-cell--8-col appForm-fields"
						v-model="newFood.meal">
						  <option disabled value=""></option>
						  <option v-for="meal in meals">{{meal}}</option>
						</select>
					</div>

					<div class="mdl-cell mdl-cell--4-col mdl-grid">
						<div class="mdl-cell mdl-cell--4-col appForm-titlesm">Portion:</div>
						<select class="mdl-cell mdl-cell--8-col appForm-fields"
						v-model="newFood.servingType">
						  <option disabled value=""></option>
						  <option v-for="type in servingTypes">{{type}}</option>
						</select>
					</div>

					<div class="mdl-cell mdl-cell--4-col mdl-grid">
						<div class="mdl-cell mdl-cell--4-col appForm-titlesm">Amount:</div>
						<form class="mdl-cell mdl-cell--8-col mdl-grid appForm-fields">
							<input class="mdl-cell mdl-cell--12-col"
							v-model="newFood.servingSize" type="number" step=".01"
							placeholder="Enter Serving Amt">
						</form>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-grid">
						<div class="mdl-cell mdl-cell--2-col"></div>
						<div class="mdl-cell mdl-cell--8-col userErrorMsg"
						v-if="userErrorMsg">{{userErrorMsg}}</div>
						<div class="mdl-cell mdl-cell--2-col"></div>
					</div>
					<div class="mdl-cell mdl-cell--11-col"></div>
					<button class="mdl-cell mdl-cell--1-col mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col"
					v-if="newFood" v-on:click="addNewFood()">
			  			<i class="material-icons">add</i>
					</button>
				</div>
			</modal>

		</div>


	</div>


	<div class="mdl-cell mdl-cell--12-col pageBreak"></div>

	<div class="mdl-grid">
		<!-- I hate tables Nathan!!!! -->
		<table class="mdl-cell mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr class="food-header">
		      <th class="mdl-data-table__cell--non-numeric"><div><span>Selected Food</span></div></th>
		      <th class="mdl-data-table__cell"><div><span>Serving Size</span></div></th>
		      <template v-for="nutrient in nutrients">
		      	<th class="rotate"><div><span>{{nutrient.name}}</span></div></th>
		      </template>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="food in selected_foods">
		      <td class="mdl-data-table__cell--non-numeric">{{food.name}}</td>
		      <td class="mdl-data-table__cell">{{food.servingSize}}</td>
		      <template v-for="nutrient in nutrients">
		      	<td v-bind:class="{
		      		low: ((food.nutrients[nutrient.id].value * 8)/food.servingSize) > nutrient.minimum,
		      		medium: ((food.nutrients[nutrient.id].value * 6)/food.servingSize) > nutrient.minimum,
		      		high: ((food.nutrients[nutrient.id].value * 4)/food.servingSize) > nutrient.minimum
		      		}">{{food.nutrients[nutrient.id].value | round}}</td>
		      </template>
		      	<td><button v-on:click="unselectFood(food)">Remove</button></td>
		    </tr>

			<tr class="daily-total">
		        <td class="mdl-data-table__cell--non-numeric">Daily Total:</td>
		        <td></td>
	            <template v-for="nutrient in nutrients">
		            <td>{{nutrient.total | round}}</td>
		        </template>
		        <td></td>
	        </tr>

	        <tr>
		        <td class="mdl-data-table__cell--non-numeric">Daily Minimum:</td>
		        <td></td>
	            <template v-for="nutrient in nutrients">
		            <td>{{nutrient.minimum | round}}</td>
		        </template>
		        <td></td>
	        </tr>

	        <tr>
		        <td class="mdl-data-table__cell--non-numeric">You Need:</td>
		        <td></td>
	            <template v-for="nutrient in nutrients">
		            <td>{{nutrient.minimum - nutrient.total | round}}</td>
		        </template>
		        <td></td>
	        </tr>

		  </tbody>
		</table>
	</div>

	<div class="mdl-cell mdl-cell--12-col pageBreak"></div>

	<div class="mdl-grid">

		<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp" 
		v-for="(nutrient, idx) in low_nutrients">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">{{nutrient.name}}</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
		    <div>Recommended Foods:</div>
		  </div>
		  <div class="mdl-card__supporting-text">
		    <div v-for="(rec,idx) in recommended_foods[nutrient.id]">{{rec.name}}</div>
		  </div>
		  <div class="mdl-card__actions">
		    <button class="mdl-cell mdl-cell--1-col mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col"
			v-if="newFood" v-on:click="addNewFood()">
	  			<i class="material-icons">add</i>
			</button>
		  </div>
	</div>

</div>
<!-- END MAIN CONTENT -->

		    </div>
		  </main>
		</div>



</body>

<script src="dist/build.js"></script>
</html>



