<!DOCTYPE html>
<html>
<head>
	<title>Nutrition App</title>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

	<!-- <script src="js/app.js"></script> -->

	<!-- Main CSS File -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Google Font Stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Material Design Lite -->
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>

<body>
<div class="mdl-grid" id="nutritionApp">
	<!-- currentDay Column -->
<!-- 	<div class="mdl-cell mdl-cell--4-col column">
		<div class="column-titlelg">Today's Log:</div>

		<div v-for="meal in meals">
			<div class="mdl-cell--1-offset column-titlemd">{{meal.name}}</div>
			<div class="mdl-cell--1-offset column-contents"
			v-for="food in meal.foods">
				{{food.name}}
			</div>
		</div>
	</div> -->

	<!-- searchFoods -->
	<div class="mdl-cell mdl-cell--6-col column">
		<div>
			<div>Search Foods:</div>
			<form class="mdl-grid" v-on:submit.prevent="fetchFoodData(newfoodinput)">
				<input class="mdl-cell mdl-cell--6-col column"
				v-model="newfoodinput" placeholder="Add Food">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col column"
				type="submit">
	  			<i class="material-icons">search</i>
				</button>
			</form>
		</div>
		<div v-for="food in foods">
			<span v-on:click="selectFood(food)">{{food.name}}</span>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--6-col column">
		<div class="mdl-cell">
			<select v-model="newFood.meal">
			  <option disabled value="">Please Select a Meal</option>
			  <option v-for="meal in meals">{{meal}}</option>
			</select>
		</div>
		<div class="mdl-grid">
			<form class="mdl-cell" v-if="newFood.servingType">
				<input class="mdl-cell mdl-cell--6-col column"
				v-model="newFood.servingSize" placeholder="Enter Serving Amt">
			</form>
			<div class="mdl-cell" v-if="newFood.meal">
				<select v-model="newFood.servingType">
				  <option disabled value="">Please select Serving Type</option>
				  <option v-for="type in servingTypes">{{type}}</option>
				</select>
			</div>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--12-col mdl-grid">
		<div class="mdl-cell mdl-cell--5-col column">{{newFood.name}}</div>
		<div class="mdl-cell mdl-cell--3-col column">{{newFood.meal}}</div>
		<div class="mdl-cell mdl-cell--3-col column">{{newFood.servingType}}</div>
		<div class="mdl-cell mdl-cell--1-col column">{{newFood.servingSize}}</div>
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col column"
		v-on:click="addNewFood()">
  			<i class="material-icons">add</i>
		</button>

	</div>



	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric"><div><span>Selected Food</span></div></th>
	      <th class="rotate"><div><span>Folate, DFE (mcg)</span></div></th>
	      <th class="rotate"><div><span>Niacin (mg)</span></div></th>
	      <th class="rotate"><div><span>Riboflavin (mg)</span></div></th>
	      <th class="rotate"><div><span>Thiamin (mg)</span></div></th>
	      <th class="rotate"><div><span>Vitamin A, IU (IU)</span></div></th>
	      <th class="rotate"><div><span>Vitamin B-6 (mg)</span></div></th>
	      <th class="rotate"><div><span>Vitamin B-12 (ug)</span></div></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="food in selected_foods">
	      <td class="mdl-data-table__cell--non-numeric">{{food.name}}</td>
		  <td>{{food.nutrients[435].value | round}}</td>
		  <td>{{food.nutrients[406].value | round}}</td>
		  <td>{{food.nutrients[405].value | round}}</td>
		  <td>{{food.nutrients[404].value | round}}</td>
		  <td>{{food.nutrients[318].value | round}}</td>
		  <td>{{food.nutrients[415].value | round}}</td>
		  <td>{{food.nutrients[418].value | round}}</td>
	    </tr>
		 <tr>
	        <td class="mdl-data-table__cell--non-numeric">Daily Total:</td>
            <td>{{nutrient_totals[435] | round}}</td>
            <td>{{nutrient_totals[406] | round}}</td>
            <td>{{nutrient_totals[405] | round}}</td>
            <td>{{nutrient_totals[404] | round}}</td>
            <td>{{nutrient_totals[318] | round}}</td>
            <td>{{nutrient_totals[415] | round}}</td>
            <td>{{nutrient_totals[418] | round}}</td>
         </tr>
         <tr>
	        <td class="mdl-data-table__cell--non-numeric">Daily Minimum:</td>
            <td>{{nutrient_minimums[435] | round}}</td>
            <td>{{nutrient_minimums[406] | round}}</td>
            <td>{{nutrient_minimums[405] | round}}</td>
            <td>{{nutrient_minimums[404] | round}}</td>
            <td>{{nutrient_minimums[318] | round}}</td>
            <td>{{nutrient_minimums[415] | round}}</td>
            <td>{{nutrient_minimums[418] | round}}</td>
         </tr>
         <tr>
	        <td class="mdl-data-table__cell--non-numeric">You Need:</td>
            <td>{{nutrient_minimums[435] - nutrient_totals[435] | round}}</td>
            <td>{{nutrient_minimums[406] - nutrient_totals[406] | round}}</td>
            <td>{{nutrient_minimums[405] - nutrient_totals[405] | round}}</td>
            <td>{{nutrient_minimums[404] - nutrient_totals[404] | round}}</td>
            <td>{{nutrient_minimums[318] - nutrient_totals[318] | round}}</td>
            <td>{{nutrient_minimums[415] - nutrient_totals[415] | round}}</td>
            <td>{{nutrient_minimums[418] - nutrient_totals[418] | round}}</td>
         </tr>
	  </tbody>
	</table>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="mdl-cell mdl-cell--12-col column">
	 <button v-on:click="getRecommendations()">Get Recommendations</button>
	</div>



	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
	  <thead>
	    <tr>
	      <th class="mdl-data-table__cell--non-numeric">Recommended Food</th>
	      <th class="rotate"><div><span>Folate, DFE (mcg)</span></div></th>
	      <th class="rotate"><div><span>Niacin (mg)</span></div></th>
	      <th class="rotate"><div><span>Riboflavin (mg)</span></div></th>
	      <th class="rotate"><div><span>Thiamin (mg)</span></div></th>
	      <th class="rotate"><div><span>Vitamin A, IU (IU)</span></div></th>
	      <th class="rotate"><div><span>Vitamin B-6 (mg)</span></div></th>
	      <th class="rotate"><div><span>Vitamin B-12 (ug)</span></div></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr v-for="food in recommended_foods">
	      <td class="mdl-data-table__cell--non-numeric">{{food.name}}</td>
		  <td>{{food.nutrients[435].value}}</td>
		  <td>{{food.nutrients[406].value}}</td>
		  <td>{{food.nutrients[405].value}}</td>
		  <td>{{food.nutrients[404].value}}</td>
		  <td>{{food.nutrients[318].value}}</td>
		  <td>{{food.nutrients[415].value}}</td>
		  <td>{{food.nutrients[418].value}}</td>
	    </tr>
	  </tbody>
	</table>


</div>
</body>

<script src="js/app.js"></script>
</html>



