<!DOCTYPE html>
<html>
<head>
	<title>Nutrition App</title>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>

	<!-- <script src="js/app.js"></script> -->

	<!-- Main CSS File -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Google Font Stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Material Design Lite -->
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	<!--getmdl-select-->
<!-- 	<link rel="stylesheet" href="node_modules/getmdl-select/getmdl-select.min.css">
	<script defer src="/node_modules/getmdl-select/getmdl-select.min.js"></script> -->

</head>

<body>
<div class="mdl-grid" id="nutritionApp">
	<!-- currentDay Column -->
	<div class="mdl-cell mdl-cell--4-col column">
		<div class="column-titlelg">Today's Log:</div>

		<div v-for="meal in meals">
			<div class="mdl-cell--1-offset column-titlemd">{{meal.name}}</div>
			<div class="mdl-cell--1-offset column-contents"
			v-for="food in meal.foods">
				{{food.name}}
			</div>
		</div>
	</div>

	<!-- searchFoods -->
	<div class="mdl-cell mdl-cell--6-col">
		<div>
			<div>Search Foods:</div>
			<form class="mdl-grid" v-on:submit.prevent="fetchFoodData(newfood)">
				<input class="mdl-cell mdl-cell--6-col column"
				v-model="newfood" placeholder="Add Food">
				<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-cell mdl-cell--2-col column"
				type="submit">
	  			<i class="material-icons">search</i>
				</button>
			</form>
		</div>
		<div v-for="food in foods">
			<span v-on:click="selectFood(food)">{{food.name}}</span>
		</div>
	</div>

	<div class="mdl-layout__content">
         <div class="mdl-grid">
         	<div class="mdl-cell mdl-cell--3-col graybox">Selected Food</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Folate, DFE (mcg)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Niacin (mg)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Riboflavin (mg)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Thiamin (mg)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Vitamin A, IU (IU)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Vitamin B-6 (mg)</div>
            <div class="mdl-cell mdl-cell--1-col graybox">Vitamin B-12 (ug)</div>

         </div>
         <div class="mdl-grid" v-for="food in selected_foods">
	        <div class="mdl-cell mdl-cell--3-col graybox">{{food.name}}:</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[435].value}}mcg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[406].value}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[405].value}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[404].value}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[318].value}}IU</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[415].value}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{food.nutrients[418].value}}ug</div>
         </div>
         <div class="mdl-grid" style="background-color: grey;">
	        <div class="mdl-cell mdl-cell--3-col graybox">Daily Total:</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[435] | round}}mcg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[406] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[405] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[404] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[318] | round}}IU</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[415] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_totals[418] | round}}ug</div>
         </div>

         <div class="mdl-grid">
	        <div class="mdl-cell mdl-cell--3-col graybox">Daily Minimum:</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[435] | round}}mcg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[406] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[405] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[404] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[318] | round}}IU</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[415] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[418] | round}}ug</div>
         </div>

         <div class="mdl-grid">
	        <div class="mdl-cell mdl-cell--3-col graybox">You Need:</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[435] - nutrient_totals[435] | round}}mcg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[406] - nutrient_totals[406] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[405] - nutrient_totals[405] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[404] - nutrient_totals[404] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[318] - nutrient_totals[318] | round}}IU</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[415] - nutrient_totals[415] | round}}mg</div>
            <div class="mdl-cell mdl-cell--1-col graybox">{{nutrient_minimums[418] - nutrient_totals[418] | round}}ug</div>
         </div>


	</div>



</div>
</body>

<script src="js/app.js"></script>
</html>



