// // Fonts:
$font-large: 24px;
$font-med: 18px;



.column {
	// padding: 4px;

	&-contents {
		padding: 4px 0 4px 16px;
	}

	&-titlelg {
		font-size: $font-large;
		font-weight: bold;
		text-transform: capitalize;
	}
	&-titlemd {
		font-size: $font-med;
		padding: 8px;
		text-transform: capitalize;
	}
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
    /* Magic Numbers */
    translate(20px, 1px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
}

// .test {
// 	color: pink;}